<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MailKit" version="1.2.21" targetFramework="monoandroid60" />
  <package id="MimeKit" version="1.2.22" targetFramework="monoandroid60" />
  <package id="sqlite-net" version="1.0.8" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.2.1" targetFramework="monoandroid60" />
</packages>